<div class="container text-center">
    <h1>404? OOPS!</h1>
     <p class="text-muted">Looks like you've lost your way! <br> No worries! Use the navbar to find your way back.</p>
    <img src="/img/wrong-way.jpg" alt="wrong way" class="submit-img">
   
</div>