<div class="container">
    <div class="row">
        {{!-- Carousel --}}
        {{!-- TODO: cite https://www.w3schools.com/howto/howto_js_slideshow.asp--}}
        <div id="carousel-container" class="col-md-12">
            <div class="slide active" id="slide-0" index="0">
                <img src="/img/lightbulb.jpg" alt="tyrion0" class="imgSlide">
            </div>
            <div class="slide" id="slide-1" index="1">
                <img src="/img/blackboard.jpg" alt="tyrion1" class="imgSlide">
            </div>
            <div class="slide" id="slide-2" index="2">
                <img src="/img/classroom.jpg" alt="tyrion2" class="imgSlide">
            </div>
            <a class="prev" onclick="nextSlide(0)">&#10094;</a>
            <a class="next" onclick="nextSlide(1)">&#10095;</a>

            {{!-- Carousel dots --}}
            <div style="text-align:center">
                <span class="dot active" onclick="currentSlide(0)"></span> 
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
            </div>
        </div>
        <div class="home-info col-md-12">
            <p>
                Why a detention tracker of all things? Well, I didn't have any idea for a simple 
                app so I started asking some friends and coworkers for cool ideas. After asking 
                around awhile, one of my best friends came through with something that would be fun 
                to build out completly...but could also have a simple demo up quickly.
            </p>
            <p>
                I asked him, "What's something that is super redundanct that would be great if 
                it was automated?" Now, I was talking to a millennial, so I trusted that he would
                have a keen sense for anything that would provoke the tought: "why would I do that
                by hand when I have all the technology things?" So, he told me it'd be great if I
                solved his problems.
            </p>
            <p>
                So, my friend found himself in charge of lunch detention. He has a Google forms/spreadsheet
                set up that is working, but not totally ideal. When a student gets detention, the teacher
                fills out the Google form, which then populates a spreadsheet. When the student attends lunch,
                my friend manually takes attentdence on the spreadsheet. Then, he has to manually copy and paste
                an email for each student who attended or didn't. 
            </p>
            <p>
               He asked me if I could make an app that'll send those emails for him as well as do some other
               administrative tasks. I said, "Yup, that's simple enough that I can do a proof of concept quickly."
               Now that I've filled a decent amount of space, here are some ideas we have for other educational apps:
            </p>
            <ul>
                <li>Super nifty flash card app</li>
                <li>Teacher Feedback Site</li>
                <li>Automated emails all over the place</li>
            </ul>
        </div>
    </div> {{!-- row --}}
</div> {{!-- content --}}



