<div class="content">
    <div class="row">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade col-md-6" data-ride="carousel">
        <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                <div class="view">
                    <img class="d-block" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                    alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                </div>
                </div>

                <div class="carousel-item">
                <div class="view">
                    <img class="d-block" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                    alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <div class="home-info col-md-6">
            <p>
                Spicy jalapeno bacon ipsum dolor amet cupim biltong pork rump kevin. 
                Porchetta turducken landjaeger, frankfurter shankle bacon picanha hamburger 
                fatback chuck boudin venison short loin. Flank shoulder kielbasa jowl venison 
                burgdoggen brisket tongue pork chop cow pork belly jerky shankle strip steak.
            </p>
            <p>
                Hamburger meatball drumstick sausage pancetta leberkas. Ball tip salami brisket 
                swine, flank kevin pig strip steak venison sausage meatloaf bresaola landjaeger. 
                Venison tenderloin shankle pastrami, jowl short loin tongue cow kevin beef ribs 
                pig ground round pork jerky ball tip. T-bone brisket tail, meatball corned beef 
                buffalo pork belly.
            </p>
            <p>
                Ribeye sausage picanha shank. Ham hock ball tip biltong bacon kevin pastrami. 
                Shoulder buffalo capicola ground round beef ribs biltong boudin kevin. Turducken 
                burgdoggen t-bone tongue kevin pig pork belly swine doner salami cow ball tip 
                alcatra hamburger venison. Biltong ham hock tail doner ribeye turkey shankle 
                chuck brisket.
            </p>
            <ul>
                <li>Bacon</li>
                <li>Jalapeno</li>
                <li>Sausage</li>
            </ul>
        </div>
    </div> {{!-- row --}}
</div> {{!-- content --}}



