<div class="content">
    <h2>Submission Successful!</h2>
    <p>Would you like to submit another referral?</p>
    <a class="btn btn-info" href="/referral/">Yes</a>
    <a class="btn btn-info" href="/" >Nope, I'm done</a>
</div>

