<div class="content">
    <h1>REFERRAL</h1>

    <form action="" method="post">
        <div class="form-group">
            <label for="stud-firstName">Student First Name</label>
            <input type="text" class="form-control" id="stud-firstName" placeholder="Taylor">
        </div>
        <div class="form-group">
            <label for="stud-lastName">Student Last Name</label>
            <input type="text" class="form-control" id="stud-lastName" placeholder="Doe">
        </div>
        <div class="form-group">
            <label for="stud-grade">Student Grade</label>
            <input type="number" class="form-control" id="stud-grade" placeholder="7" min="5" max="12">
        </div>
        <div class="form-group">
            <label for="teach-firstName">Teacher First Name</label>
            <input type="text" class="form-control" id="teach-firstName" placeholder="Jane">
        </div>
        <div class="form-group">
            <label for="teach-lastName">Teacher Last Name</label>
            <input type="text" class="form-control" id="teach-lastName" placeholder="Doe">
        </div>
        <div class="form-group">
            <label for="teach-email">Teacher Email</label>
            <input type="email" class="form-control" id="teach-email" placeholder="jane.doe@skool.edu">
        </div>
        <div class="form-group">
            <label for="refer-date">Date Referred</label>
            <input type="text" class="form-control" id="refer-date" placeholder="11/12/2019">
        </div>
        <div class="form-group">
            <label for="refer-reason">Reason Referred</label><br>
            <select name="refer-reason">
                <option value="" disabled selected>Please select...</option>
                <option value="phoneClass">Using phone in class</option>
                <option value="talking">Excessive talking</option>
                <option value="backTalk">Talking back</option>
                <option value="hw">Incomplete homework</option>
                <option value="tardy">Tardiness</option>
                <option value="other">Other</option>
            </select>
        </div>
        {{!-- TODO: not disabled when other is selected --}}
        <div class="form-group" >
            <label for="refer-other">If other, please elaborate:</label>
            <textarea class="form-control rounded-0" id="refer-other" rows="3" placeholder="Message" disabled></textarea>
        </div>
        <div class="form-group">
            <label for="serve-date">Serve Date</label>
            <input type="date" class="form-control" id="serve-date" placeholder="11/12/2019">
        </div>
        
        <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
    </form>
</div>
