<div class="content">
    <h2>Submission Successful!</h2>
    <p>Would you like to submit another referral?</p>
    <button class="btn btn-info" type="submit">Yes</button>
    <button class="btn btn-info" type="submit">Nope, I'm done</button>
</div>

