html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
    margin: 10px;
}

.footer-content {
    background-color: aquamarine;
    height: 130px;
    padding: 5px;
}

.carousel {
    float: left;
    padding: 10px;
}

.home-info {
    float: right;
}

.referral-form {
    max-height: 650px;
    overflow: scroll;
}