html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
    margin: 10px;
}

.page-footer .row{
    background-color: aquamarine;
    height: 130px;
    padding: 5px;
}

.carousel {
    float: left;
    padding: 10px;
}

.home-info {
    float: right;
}