
/* 
==================================
    STICKY FOOTER SECTION (main)
==================================
*/
html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
    margin: 10px;
    max-width: 100%;
}

.footer-content {
    background-color: aquamarine;
    height: 130px;
    padding: 5px;
}

/* 
==================================
    HOME SECTION 
==================================
*/
.carousel {
    float: left;
    padding: 10px;
}

.home-info {
    float: right;
}

/* 
==================================
    ATTENDANCE SECTION 
==================================
*/

.student-table-wrapper {
    overflow-x:auto;
    overflow-y:auto;
    max-width: 90%;
    max-height: 900px;
    margin: auto;
}

.student-table th {
    text-align: center;
}

.first-header-row {
    /* max-width: 250px; */
    width: auto;
}

.table-header-date {
    text-align: center;
}

.table-header-name {
    width: auto;
}

.table-header-reason {
    min-width: 250px;
}

.table-header-number {
    width: auto;
    text-align: center;
}

.stud-present {
    text-align: center;
}

.attendanceHeaderRow {
    overflow: hidden;
    width: 100%;
    margin: 5px 10px;
}

.left-border {
    border-left: 1px solid black;
}


/* 
==================================
    EMAIL SECTION 
==================================
*/

.email-draft {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    max-width: 75%;
    max-height: 75%;
}

.email-name-date {
    font-weight: bold;
}

/* 
==================================
    ATTENDANCE SECTION 
==================================
*/

/* Table coloring based on status */
.ref-SERVED {
    background-color: rgb(82, 158, 82);
}

.ref-NOT_SERVED {
    background-color: rgb(206, 206, 126);
}

.ref-EXCUSED {
    background-color: lightblue;
}

.ref-VOID {
    background-color: rgb(145, 144, 144);
    color: rgb(87, 87, 87);
    font-style: italic;
}